.img--logo{
    height: 30px;
    width: 60px;
    margin-bottom: 15px;
}
.Banner--menu{
    width: 100%;
    padding-top: 20px;
    text-align: center;
}
.Menu--link{
    margin-top: 20px;
}
.Btn--link{
    margin: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 228);
    text-decoration: none;
}
