.Card--Palavras{
    background: rgb(187, 0, 0);
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
  }
  .Palavra--Chav{
    text-align: center;
    background: hsla(198, 93%, 52%, 1);

    background: linear-gradient(225deg, hsla(198, 93%, 52%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(198, 93%, 52%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(198, 93%, 52%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#14B3F7", endColorstr="#0062FF", GradientType=1 );
    
    width: 20%;
    margin: auto;
    border-radius: 60px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  .Palavra--Chav:hover{
    cursor: pointer;
    background:rgb(0, 169, 241)

  }
  .palavra--chave{
    background: rgb(255, 255, 255);
    width: 30%;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    color: rgb(39, 39, 39);
    margin-bottom: 50px;    
    text-align: center;
}

#Res{
    text-align: center;
    margin-top: 10px;
    font-size: xx-large;
    color: rgba(20, 20, 20, 0.986);
}
